
@{
    ViewBag.Title = "GioHangPartial";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>GioHangPartial</h2>
<a href="@Url.Action("GioHang", "GioHang")"
   style="color:white; font-weight:bold; text-decoration:none;">
    <img src="~/Images/Giohang.gif" />
    Giỏ hàng (@ViewBag.TongSoLuong)
</a>

